<!DOCTYPE html>
<html>
<head>

  <title>Phonetic Alphabet</title>

  <link rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/styles.css') }}">

  <link rel="icon"
		href="{{ url_for('static', filename='im/favicon.ico') }}">

  <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}">
  </script>

  <script src="{{ url_for('static', filename='js/socket.io.js') }}">
  </script>

  <!-- Google ad sense connection -->
  <script data-ad-client="ca-pub-9437688321417589" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body onload="get_present_question()">

    <div id="content_container">
      <div id="question">
        <b id=letter></b> is for...
      </div>
      <div id=choices>
        <button id="c1" onclick="check_selection(this.id)"></button>
        <button id="c2" onclick="check_selection(this.id)"></button>
        <button id="c3" onclick="check_selection(this.id)"></button>
        <button id="c4" onclick="check_selection(this.id)"></button>
      </div>
    </div>

    <div id=ad_notice>
      Advertisement
    </div>
    <div id="ad_container">

    </div>

    <div id="author">
      &#x1f16d; Jacob Lapenna
    </div>

  <script>

    // declared needed global variables
    var socket =  io.connect(location.origin);
    var selection_id
    var html_elements = ["letter", "c1", "c2", "c3", "c4"]
    var button_color = getComputedStyle(document.documentElement).getPropertyValue('--button_color');
    var incorrect_color = getComputedStyle(document.documentElement).getPropertyValue('--incorrect_color');

    function display_question(json) {

      var letter = json.letter;
      var choices = json.choices;

      for (i = 0; i < html_elements.length; i++) {
        if (i == 0) {
          document.getElementById(html_elements[i]).innerHTML = letter;
        }
        else {
          document.getElementById(html_elements[i]).innerHTML = choices[i - 1];
          document.getElementById(html_elements[i]).style.backgroundColor = button_color;
        }
      }
    }

    function get_present_question() {
      socket.emit("get_present_question");
    }

    function get_next_question() {
      socket.emit("get_next_question");
    }

    function check_selection(id) {
      selection_id = id;
      selection = document.getElementById(id).innerHTML;
      socket.emit("check_selection", selection=selection);
    }

    socket.on("next_question", function (data) {
      display_question(data);
    });

    socket.on("correct", function () {
      // tell user they are correct
      get_next_question();
    });

    socket.on("incorrect", function () {
      // turn button that was selected to red
      document.getElementById(selection_id).style.backgroundColor = incorrect_color;
    });

  </script>

</body>
</html>
