<!DOCTYPE html>
<html>
<head>

  <title>Phonetic Alphabet</title>

  <link rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/styles.css') }}">

  <link rel="icon"
		href="{{ url_for('static', filename='im/favicon.ico') }}">

  <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}">
  </script>

  <script src="{{ url_for('static', filename='js/socket.io.js') }}">
  </script>

  <!-- Google ad sense connection -->
  <script data-ad-client="ca-pub-9437688321417589" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>

    <div id="content_container">
      <div id="welcome_message">
        Welcome to this phonetic alphabet study guide! Please select whether you want the quiz to be presented in random or alphabetical order.
      </div>
      <div id="alphabetical_selection">
        <button id="alphabetical" onclick="alpha_order()">Alphabetical Order</button>
      </div>
      <div id="random_selection">
        <button id="random" onclick="rand_order()">Random Order</button>
      </div>
    </div>

    <div id=ad_notice>
      Advertisement
    </div>
    <div id="ad_container">

    </div>

    <div id="author">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
      </a>
      <a rel="license" href="http://www.linkedin.com/in/jacob-lapenna-a550b123" target="_blank">
        Jacob Lapenna
      </a>
    </div>

  <script>

    // declared needed global variables
    var socket =  io.connect(location.origin);

    function alpha_order() {
      window.location = "/quiz/alphabetical";
    }

    function rand_order() {
      window.location = "/quiz/random";
    }

  </script>

</body>
</html>
